@{
        ViewBag.Title = "Privacy Policy";
}
<div class="text-center">
    <h1>@ViewBag.Title</h1>
</div>

<div class="text-center">
    <br />
    <p>Este trabalho destina-se a uso académico apenas.</p>
    <p>O projeto apresentado foi criado no âmbito da Unidade Curricular Laboratórios de Informática IV.</p>
    <p>Todos os direitos deste trabalho estão reservados ao grupo 22 do ano de 2020/2021.</p>
</div>