@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-center display-1">
        WWB
    </div>
    <div>
        <a class="navbar-brand logo-brand" asp-area="" asp-controller="Account" asp-action="Index">
            <img src="~/imgs/Logotipo.png" href="#" alt="" height="800" class="img-responsive" />
        </a>
    </div>
</div>

